/* 
	Mobile first development
 */

 body {
	background-image: url("2232.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: contain;
}

p {
	color: #bcbcbc;
}

header {
	display: flex;
	flex-direction: column;
	margin: 20px;
	background: rgba(0, 5, 5, 0.8);
	border-radius: 7px;
}

header h1 {
	text-align: center;
	color: #bcbcbc;
}

header nav {
	display: flex;
	justify-content: center;
}

header nav ul {
	display: flex;
	padding-left: 0;
	list-style: none;
}

header nav ul li a{
	margin: 0 20px 0 0;
	color: #bcbcbc;
}

.introduction {
	padding: 10px 10px 10px 10px;
	color: #bcbcbc;
	background: rgba(0, 5, 5, 0.8);
	border-radius: 10px;
	margin: 20px;
}

.about-me {
	padding: 10px 10px 10px 10px;
	color: #bcbcbc;
	background: rgba(0, 5, 5, 0.8);
	border-radius: 10px;
	margin: 20px;
}

.skills {
	display: flex;
	flex-direction: column;
	color: #bcbcbc;
	background: rgba(0, 5, 5, 0.8);
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
	margin: 20px;
	justify-content: center;
}

.skills-items{
	display: flex;
	flex-direction: column;
}

.skills-items ul {
	display: flex;
	justify-content: center;
	flex-direction: column;
	list-style: none;
	padding-left: 5px;

}

.projects {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px 10px 60px 10px;
	color: #bcbcbc;
	background: rgba(0, 5, 5, 0.8);
	border-radius: 10px;
	margin: 20px;
}

.projects a {
	color: #bcbcbc;
}

.contacts {
	padding: 10px 50px 10px 50px;
	color: #bcbcbc;
	background: rgba(0, 5, 5, 0.8);
	margin: 20px;
	border-radius: 10px;
}

.contacts h2 {
	display: flex;
	justify-content: center;
}

.contacts ul {
	display: flex;
	justify-content: center;
	list-style: none;
}

.contacts ul li a {
	padding-right: 15px;
	margin-right: 15px;
	color: #dedede;
}

footer {
	text-align: center;
	color: #bcbcbc;
	background: rgba(0, 5, 5, 0.8);
	padding: 5px 0 5px 0;
	border-radius: 10px;
	margin: 20px;
}

footer a {
	color: #dedede;
}

form {
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}

form textarea {
	margin-bottom: 10px;
	height: 75px;
	}

textarea, input {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
	background: rgba(0, 5, 5, 0.8);
}

h1, h2, h3, p {
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-top {
	display: none;
}

.img-bottom {
	width: 170px;
	padding-left: 21%;
}

.error {
	color: #de1212;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media all and (min-width: 390px) {
	.img-bottom {
		width: 200px;
		padding-left: 22%;
	}
}

@media all and (min-width: 455px) {
	.img-bottom {
		width: 200px;
		padding-left: 26%;
	}
}

@media all and (min-width: 545px) {
	.img-bottom {
		width: 200px;
		padding-left: 30%;
	}
}

/* For Screen larger than 600px */

 @media all and (min-width: 600px) {

	 header {
		 display: flex;
		 flex-direction: row;
		 justify-content: space-between;
		 padding-left: 30px;
		 padding-right: 30px;
	 }

	 header h1 {
		 font-size: 17px;
		 padding-right: 75px;
		 padding-top: 15px;
	 }

	 .img-bottom {
		 display: none;
	 }

	
	.img-top {
		display: flex;
		width: 50px;
		height: 64px;
		padding: 5px 5px 5px 5px;
	}
	

	 header nav {
		 display: flex;
		 padding-top: 15px;
	 }

	 .skills {
		 flex-direction: row;
		 justify-content: space-evenly;
	 }

	 .projects {
		 flex-direction: row;
		 padding-left: 30px;
		 padding-right: 30px;
	 }

	 .project-head {
		margin-right: 30%;
	}

	 .about-me {
		 padding-left: 30px;
		 padding-right: 30px;
	 }

	 .introduction {
		 padding-left: 30px;
		 padding-right: 30px;
	 }

	 .contacts {
		 padding-left: 140px;
		 padding-right: 140px;
	 }

	 footer {
		 padding-left: 30px;
		 padding-right: 30px;
	 }
 }

 /* For Screen larger than 1000px */

 @media all and (min-width: 1000px) {

	 header {
		 display: flex;
		 flex-direction: row;
		 padding-left: 70px;
		 padding-right: 70px;
		 margin: 50px;
	 }

	 header h1 {
		 font-size: 28px;
		 padding-top: 4px;
		 padding-left: 180px;
	 }

	 header nav {
		 display: flex;
		 padding-top: 15px;
	 }

	 .skills {
		 margin: 50px;
		 justify-content: space-evenly;
	 }

	 .projects {
		 padding-left: 70px;
		 padding-right: 70px;
		 margin: 50px;
	 }

	 .about-me {
		 padding-left: 70px;
		 padding-right: 70px;
		 margin: 50px;
	 }

	 .introduction {
		 padding-left: 70px;
		 padding-right: 70px;
		 margin: 50px;
	 }

	 .contacts {
		 padding-left: 290px;
		 padding-right: 290px;
		 margin: 50px;
	 }

	 footer {
		 padding-left: 70px;
		 padding-right: 70px;
		 margin: 50px;
	 }
 }
